*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  height: 100% !important;
}

body{
  min-height:100% !important;
}

header{
  width: 100%;
  height:auto;
  background-color:ghostwhite;
  position: relative;
}

nav{
  width: 100%;
  height:auto;
  background-color: red;
  float:left;
  border-bottom: 2px solid black;
  margin-bottom:3px;
}

nav ul{
  list-style-type: none;
  margin:0;
  padding:0;
  height:auto;
  position: relative;
  left: 18%;
  width: 80%;
  float: left;
}

li a{
  display: block;
  padding: 16px 32px;
  color:white;
  text-decoration: none;
  font-weight: bold;
}

nav li{
  float: left;
  height:inherit;
  width: fit-content;
}

nav a:hover{
  color: rgba(192, 17, 17, 0.863);
  font-size:120%;
  font-weight: bolder;
  background: ghostwhite;
  /*background: linear-gradient(90deg,ghostwhite, rgb(245, 245, 248) 50%, rgba(230, 225, 225, 0.473) 100%);*/
  transition: 0.5s;
}


#logo{
  width: fit-content;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  position: absolute;
  left: 10%;
  bottom:6px;
  background-color: red;
  padding: 0.5%;
  box-shadow:5px 0px 4px rgb(29, 28, 28);
  height: 100%;

}

#logo2{
  height:70% ;
  width: 100%;
  text-align: center;
  font-size: 150%;
}
h5{
  padding-top:12%;
  transform: scale(1,3);
  font-family: 'Chelsea Market', cursive;
}

#logo3{
  height: 30%;
  padding-top: 15%;
  font-size: 80%;
}

#logo3 p{
  font-family: 'Chelsea Market', cursive;
}

main{
  position: relative;
  left:10%;
  top:80px;
  width: 50%;
  height:auto;
  background-color:ghostwhite;
  padding-bottom: 3%;
  margin-bottom: 2%;
}

section{
 width:95%;
 height:500px;
 margin: 0 auto;
 padding: 1% 0 0 1%;
}

h1{
  color:brown;
  padding: 2% 2% 0 2%;
  text-transform: uppercase;
  font-family: 'Chelsea Market', cursive;
  font-size: 180%;
}

.border{
  border-bottom:3px solid brown;
  margin-left: 2%;
  margin-right: 2%;
}

article{
  background-color: white;
  width: 31%;
  float:left;
  margin: 1%;
  height:431px;
  overflow: auto;
  position: relative;
  box-shadow: 3px 3px 3px gray;
}

article:hover{
  box-shadow: 3px 3px 23px gray;  
}

article a{
  color:black;
  text-decoration: none;
  width: 100%;
  height: inherit;
  display: block;
}

article p{
  padding:3%;
  font-size: 90%;
}

p{
  font-family: 'Sen', sans-serif;
}

h2{
  color: brown;
  padding:3%;
  text-shadow:0px 1px 2px brown;
}

#h2_clanak{
  font-size: 200%;
}

.index-slike {
  height:205px;
  width:100%;
}

.clanak-slike{
  height:405px;
  margin:2% 0 2% 0;
}

#ikone{
  color:black;
  float:right;
  width:15%;
  padding: 0.5%; 
}

i:hover{
 animation-name: spin; 
 animation-duration: 0.5s;
}

@keyframes spin{
  0% {
    transform: rotateX(0deg);
  }
  100%{
    transform:rotateX(360deg) ;
  }
}


i{
  padding-right: 3%;
}

.datum{
  font-style: italic;
  font-size: 11px;
  position: relative;
  bottom:0px;
  width: 100%;
  margin-top: 0.5%;
}

footer{
  width: 100%;
  background-color:gray;
  height: auto;
  position: fixed;
  padding-top:0.8%;
  padding-bottom: 0.8%;
  color: gainsboro;
  bottom: 0px;
}

#podnozje{
  width: 50%;
  position: relative;
  left: 10%;
  text-align: center;
}

/************UNOS************************/

form {
  margin: 0 auto;
  width: 80%;
}
.form-item{
  padding: 3% 0 3% 0;
  width: 100%;
  margin: 0 auto; 
}

form .form-field{
 width:100%;  
}

input:hover{
  box-shadow:  0 0 4px black;
}


select:hover{
  box-shadow:  0 0 4px black;
}

textarea:hover{
  box-shadow:  0 0 4px black;
}

.form-field input, .form-field textarea{
  width:100%;
}

.form-field select{
  width: 30%;
  height: 40px;
  margin-top: 1%;
}

.form-field input[type="checkbox"]{
  width:3%;
  height: 20px;
  margin-top: 1%;
}

.form-field input[type="file"]{
  margin-top: 1%;
}

label, button{
  font-size: 25px;
}

button{
  padding:2%;
  border-radius: 20px;
  box-shadow: 5px; 
  
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
  
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

#update{
  background-color: rgba(255, 0, 0, 0.836);
  border: none;
  color: white;
  opacity: 0.5;
  transition: 1.5s;
}

#update:hover{
  opacity:1;
}

#reset2{
  background-color: green;
  border: none;
  color: white;
  opacity: 0.5;
  transition: 1.5s;
}

#reset2:hover{
  opacity:1;
}

#delete{
  background-color: black;
  border: none;
  color: white;
  opacity: 0.5;
  transition: 1.5s
}

#delete:hover{
  opacity:1;
}

.send{
  float:left;
  background-color: rgba(23, 175, 23, 0.959);
  width:48%;
}

#reset{
  float: right;
  background-color: rgba(23, 175, 23, 0.959);
  width:48%;
}

label{
  font-weight: bold;
}

.bojaPoruke{
  color:red;
}

 #slanje{
  background-color: rgba(23, 175, 23, 0.959);
  width:48%;
  margin:5% 22% 0;
 }

 .formfield-textual{
   height:30px;
 }

 .login_msg{
  padding: 8%;
  font-size: 220%;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
 }

 .login_pmsg{
   font-size: 170%;
   text-align: center;
 }
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 900px) {
    header {
      height:auto;
    }

    nav ul li{
      clear:both;
      height:50px;
      margin: 0 42px;
    }

    nav ul{
      width: 50%;
      margin: 0 auto;
      height: auto;
    }

    nav{
      height: auto;
      
    }
    #logo{
      height: 50%;
      top:38%;
    }

    article{
      clear: both;
      width: 100%;
      margin-bottom: 7%;
    }

    main{
      margin:0 auto;
      left:0px;
      width:80%;
      
    }

    section{
      width:80%; 
      height: auto;
    }

    #podnozje{
      width:80%;
    }
  }
  